.forgotpassword-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.forgotpassword-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 7px;
    width: 100%;
    max-width: 400px;
}
.forgotpassword-title{
    margin-bottom: 24px;
    color: black;
    font-size: 30px;
}
.forgotpassword-input{
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}
.forgotpassword-button{
    width: 100%;
    padding: 12px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.forgotpassword-button:hover{
    background-color: #014ea6;
}
.error-message{
    color: red;
    font-size: 14px;
}
.response-message{
    color: green;
    font-size: 14px;
}