.resetpassword-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.resetpassword-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 7px;
    width: 100%;
    max-width: 400px;
}
.resetpassword-title{
    margin-bottom: 24px;
    color: black;
    font-size: 30px;
}
.resetpassword-input{
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}
.resetpassword-button{
    width: 100%;
    padding: 12px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.resetpassword-button:hover{
    background-color: #014ea6;
}
.error-message{
    color: red;
    font-size: 14px;
}
.response-message{
    color: green;
    font-size: 14px;
}
.password-container {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  padding-right: 40px; 
}

.eye-icon {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  outline: none;
  top: 40%;
  transform: translateY(-50%);
}

.eye-icon svg {
  width: 20px;
  height: 20px;
}